<div class="faq" id="faq">
	<h1>Frequently Asked Questions</h1>
	<section class="accordion" id="faq1">
		<h1 class="title"><a href="#faq1">What is an escape room puzzle?</a></h1>
		<div class="content">
			<div class="wrapper">
				<p>
					An escape room puzzle is a immersive, interactive game where participants work together to solve a series of puzzles, find clues, and accomplish tasks in order to "escape" from a themed room within a set time limit.
				</p>
			</div>
		</div>
	</section>
	<section class="accordion" id="faq2">
		<h1 class="title"><a href="#faq2">Can I play alone or do I need a team?</a></h1>
		<div class="content">
			<div class="wrapper">
				<p>
					While it's possible to play alone, escape room puzzles are more enjoyable and manageable with a team of friends or family members. Teamwork and collaboration are key to solving the puzzles within the time limit.
				</p>
			</div>
		</div>
	</section>
	<section class="accordion" id="faq3">
		<h1 class="title"><a href="#faq3">What equipment or software do I need to play the escape room puzzles online?</a></h1>
		<div class="content">
			<div class="wrapper">
				<p>
					All you need is a computer or tablet with an internet connection and a modern web browser.
					No additional software or downloads are required.
				</p>
			</div>
		</div>
	</section>
	<section class="accordion" id="faq4">
		<h1 class="title"><a href="#faq4">Can I pause the game and resume later?</a></h1>
		<div class="content">
			<div class="wrapper">
				<p>
					Unfortunately, our escape room puzzles are designed to be completed in one session.
					Pausing and resuming the game later is not supported.
				</p>
			</div>
		</div>
	</section>
	<section class="accordion" id="faq5">
		<h1 class="title"><a href="#faq5">Is there any fee policy?</a></h1>
		<div class="content">
			<div class="wrapper">
				<p>
					This website operates on a free-fee policy.
					You can enjoy the experience it offers without worrying about paying or fees.
				</p>
			</div>
		</div>
	</section>
	<section class="accordion" id="faq6">
		<h1 class="title"><a href="#faq6">Are there any age restrictions? </a></h1>
		<div class="content">
			<div class="wrapper">
				<p>
					No, as this website is designed for all people, including both children and adults.
				</p>
			</div>
		</div>
	</section>
</div>