{% load static %}
<div class="Tiles">
    <div class="cards">

        <div class="card" style="background-image:url({% static 'images/room.jpg' %})">
            <div class="colour"></div>
            <div class="card-text">
                <h3>Tanjiro</h3>
                <p>Breathing Technnique: <b>Water/Sun</b></p>
            </div>
            <div class="colour-bottom"></div>
        </div>

        <div class="card" style="background-image:url({% static 'images/room.jpg' %}">
            <div class="colour"></div>
            <div class="card-text">
                <h3>Tanjiro</h3>
                <p>Breathing Technnique: <b>Water/Sun</b></p>
            </div>
            <div class="colour-bottom"></div>
        </div>

        <div class="card nezuko" style="background-image:url({% static 'images/room.jpg' %}">
            <div class="colour"></div>
            <div class="card-text">
                <h3>Nezuko</h3>
                <p>Demon : Can do <b>blood magic</b>.</p>
            </div>
            <div class="colour-bottom"></div>
        </div>

        <div class="card zenitsu" style="background-image:url({% static 'images/room.jpg' %}">
            <div class="colour"></div>
            <div class="card-text">
                <h3>Zenitsu</h3>
                <p>Breathing Technnique: <b>Thunder</b></p>
            </div>
            <div class="colour-bottom"></div>
        </div>
    </div>
</div>
</div>