{% load static %}
<div>
    <p class="name-ask">Salut, ingenious engineer! Your ingenuity is called upon in this captivating expedition. A
        message from a fellow French engineer, seeking collaboration, is presented before you. This isn't your ordinary
        request – it's a cryptic challenge that beckons your expertise.</p>
    <p class="just">76 101 32 115 111 108 101 105 108 32 98 114 105 108 108 101 32 105 110 116 101 110 115 101 109 101 110 116 46</p>
    <div class="input-field">
        <input id="answer" type="text" placeholder="Type your answer here..." required>
        <i class="uil uil-envelope icon"></i>
    </div>
    <p></p>
    <button class="OK" onclick="checkAnswer()">OK &check;</button>
    <p class="enter">press <strong>Enter ↵</strong></p>
</div>