{% extends 'room.html' %}
{% load static %}

{% block content %}
    <div class="background-image" style="background-image: url({% static 'images/library-room-bg.jpg' %})"></div>

    <div class="container">
        <div class="outer">
            <div class="inner" id="box">
                <img id="myImage" src="{% static 'images/library.png' %}" alt="Example Image" usemap="#default-map">
                <map name="default-map">
                    <area shape="rect" coords="200,400,780,450" href="" onclick="loadIframe(event)"
                          alt="Default Clickable Area">
                </map>
                <map name="fullscreen-map">
                    <area shape="rect" coords="250,455,875,550" href="" onclick="loadIframe(event)"
                          alt="Fullscreen Clickable Area">
                </map>
                {#    <div class="puzzle" id="puzzle2">Puzzle 2 Content</div>#}
            </div>
        </div>
    </div>
    <script>


        function loadIframe(event) {
            event.preventDefault();

            var boxElement = document.getElementById('box');

            if (boxElement) {
                var previousContent = boxElement.innerHTML;
                var iframe = document.createElement('iframe');
                iframe.src = '{% url "quiz" %}';
                iframe.style.border = 'none';
                iframe.width = '100%';
                iframe.height = '100%';

                boxElement.innerHTML = '';
                boxElement.appendChild(iframe);
                var buttonElement = document.createElement("button");
                buttonElement.id = "backButton";

                var imgElement = document.createElement("img");
                imgElement.src = '{% static "images/back.svg" %}';
                buttonElement.appendChild(imgElement);
                boxElement.appendChild(buttonElement);

                buttonElement.addEventListener("click", function () {
                    // Load the previous content
                    boxElement.innerHTML = previousContent;
                });
            }
        }


        // Function to check fullscreen status
        function isFullscreen() {
            return (
                document.fullscreenElement ||
                document.webkitFullscreenElement ||
                document.mozFullScreenElement ||
                document.msFullscreenElement
            );
        }

        // Function to toggle fullscreen
        function toggleFullscreen() {
            var image = document.getElementById("myImage");
            if (isFullscreen()) {
                image.useMap = "#default-map";
                // If the document is in fullscreen mode, exit fullscreen
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            } else {

                image.useMap = "#fullscreen-map";
                // If the document is not in fullscreen mode, request fullscreen for the document
                var documentElement = document.documentElement;
                if (documentElement.requestFullscreen) {
                    documentElement.requestFullscreen();
                } else if (documentElement.webkitRequestFullscreen) {
                    documentElement.webkitRequestFullscreen();
                } else if (documentElement.mozRequestFullScreen) {
                    documentElement.mozRequestFullScreen();
                } else if (documentElement.msRequestFullscreen) {
                    documentElement.msRequestFullscreen();
                }
            }
        }

        document.addEventListener("fullscreenchange", function () {
                if (!isFullscreen()) {
                    var image = document.getElementById("myImage");
                    image.useMap = "#default-map";
                }
            }
        );

    </script>
{% endblock content %}

