body {
    background-color: white;
    width: 100;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap');

.head {
    padding: 3px;
    top: 0px;
    background-color: #3F1D59;
    left: 0px;
    right: 0px;
    position: fixed;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    z-index: 1000;
}

.logo-container {
    width: 50px;
    height: 50px;
    /*border-radius: 25px;*/
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    background-color: #3F1D59;
}

.logo {
    width: 720%;
    height: auto;
    object-fit: cover;
    background-color: #3F1D59;
    /*transform: scale(1.6);*/
}

.name {
    font-size: larger;
    margin: 5px;
    margin-top: 10%;
    color: white;
}

.logoname img {
    font-size: larger;
    /*margin: 5px;*/
    margin-top: 3%;
    margin-left: 1%;
    color: white;
    width: 350px;
    overflow: hidden;
    object-fit: cover;
}

.buts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left:2%;
}

.log {
    position: fixed;
    right: 0px;
}

.intro-container {
    height: auto;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #3a0047;
    overflow: hidden;
}

.intro {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: #3a0047;
}

.ln {
    display: flex;
    flex-direction: row;
}


.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 6px;
    object-fit: cover;
    /*position: fixed;*/
    right: 0px;
}

.butts {
    margin-right: 15px;
    background-color: transparent;
    color: white;
    border: none;
    height: 40px;
    width: 85px;
    border-radius: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-right: 15px;
}

.butts:hover {
    cursor: pointer;
}

.butt-log {
    margin-right: 15px;
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 85px;
    border-radius: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-top: 11px;
    margin-right: 15px;
}

.butt-log:hover {
    cursor: pointer;
}

.dropbtn svg {
    fill: white;
    width: 15%;
    height: 15%;
    top: 3px;
    margin-right: 5px;
}

svg {
    fill: white;
    width: 10%;
    height: 10%;
    top: 3px;
    margin-right: 5px;
}
#large-svg {
    transform: scale(5); /* Scale the SVG by a factor of 2 */
}

.dropbtn {
    background-color: transparent;
    margin: 5px;
    margin-top: 5px;
    /*color: white;*/
    padding: 16px;
    padding-right: 8px;
    /*font-size: 16px;*/
    border: none;
}

.dropdown {
    display: inline-block;
    margin-right: 15%;
}

.dropdown-content {
    top: 58px;
    left: -100px;
    display: none;
    position: absolute;
    border-radius: 15px;
    background-color: #1C2E60;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 170%;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 15px;
}

.dropdown:hover
.dropdown-content {
    display: block;

}

.Tiles-background {
    object-fit: contain;
    left: 0px;
    right: 0px;
    padding: 3px;
    margin: 0px -8px -8px -8px;
    width: 101%;
}

h3 {
    font-family: 'Permanent Marker', cursive;
}

.Tiles {
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    width: 100%;
    /*align-items: center;*/
    overflow: hidden;
}

.cards {
    display: flex;
    width: 100%;
    background-color: var(--background);
    gap: 2%;
    margin: 10%;
    scale: 1.6;
    justify-content: center;
}

.card {
    position: relative;
    left: 0px;
    width: 12.5%;
    /*height: 240px;*/
    aspect-ratio: 7/8;
    background-color: var(--background);
    border-radius: 8px;
    transition: 1000ms all;
    transform-origin: center left;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    outline: 1px solid var(--background);
    overflow: hidden;
}

.card img {
    height: 240px;
    object-fit: cover;
    border-radius: 4px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.15);
    box-shadow: 0 0 20px #00fffc;
    margin: 5px;
}

.card:hover figcaption {
    font-size: 0.6rem;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 100%
    );
    color: white;
    left: 0px;
    bottom: 0px;
    padding-left: 12px;
    padding-bottom: 10px;
}

.card:hover ~ .card {
    font-weight: bold;
    cursor: pointer;
    transform: translateX(22px);
}

.bunker-container {
    position: relative;
    height: auto;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #c9d6df;
    overflow: hidden;
}

.bunker {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: #3a0047;
}

.tour {
    position: absolute;
    left: 20%;
    bottom: 30%;
    transform: translateX(-50%);
    width: 20%;
    height: auto;
    cursor: pointer;
}

.dialog {
    background: linear-gradient(to bottom, #c9d6df 50%, transparent 50%), linear-gradient(to right, #3F1D59, #1C2E60);
    margin: 0px -8px 0px -8px;
    font-family: "Euclid Circular A", "Poppins";
}

.dialog article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin: 0 6% 0 6%;
    padding: 20px 50px 40px;
    border-radius: 10px;
    background: linear-gradient(90deg, #773ecb, #2663ff);
}

.dialog article h2 {
    font-weight: 400;
    color: rgb(255 255 255 / 70%);
}

.dialog article button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 40px 0 44px;
    width: 100%;
    background: #0a1536;
    border: 0;
    border-radius: 30px;
    color: #f9f9f9;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v148/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@media (width >

480px

) {
    .dialog article button {
        width: 70%;
    }
}

@media (width>

600px

) {
    .dialog article {
        flex-direction: row;
        padding: 30px 50px 30px;
    }

    .dialog article button {
        width: auto;
        padding: 0 20px 0 24px;
    }
}

.foot {
    margin: 0px -8px -8px -8px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, #3F1D59, #1C2E60);
    color: white;
    height: auto;
    width: 100;
}

.pfp {
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    margin: 10px;
    margin-left: 40px;
    overflow: hidden;
}

.pfp-image {
    width: 100%;
    height: auto;
    /*margin-top: 6px;*/
    object-fit: cover;
    background-color: #3F1D59;
    /*transform: scale(1.6);*/
}

.part {
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-top: 15px;
}

.part2 {
    display: flex;
    flex-direction: column;
    margin-top: 1.5%;
    margin-left: 10%;
}

.part3 {
    border-left: 2.5px solid whitesmoke;
    /*padding: 5px;*/
    margin-left: -36%;
}

.Team {
    display: flex;
    flex-direction: row;
    margin-left: -420px;
    margin-top: 30px;
    text-align: center;
}

.teamname {
    font-size: 350%;
    font-weight: 800;
    outline: none;
    /*text-transform: uppercase;*/
    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    to {
        background-position: 400%;
    }
}

#wrapper {
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9d6df;
    font-family: 'Montserrat', sans-serif;
    margin: 0px -8px -8px -8px;
}

/* Accordion Content */
.content {
    width: 100%;
    max-width: 75%;
    min-width: 300px;
    position: relative;
}

/* shadow */
.content:before {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    margin: 0;
    left: 15px;
    background-color: transparent;
    top: 0px;
    box-shadow: 0px 20px 40px #52616b;
    opacity: 0.2;
    z-index: -1;
    transition: ease-in-out 0.6s all;
}

.content:hover.content:before {
    box-shadow: 0px 40px 90px #52616b;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 3px;
}

.accordionTitle {
    padding: 20px;
    position: relative;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: #52616b;
    transition: ease-in-out 0.2s all;
    cursor: pointer;
}

.accordionTitle:hover {
    padding-left: 25px;
}

/* Accordion Item line */
.accordionTitle:before,
.accordionTitle:after {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 50px;
    transition: ease-in-out 0.6s all;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordionTitle:before {
    width: 100%;
    background-color: #c9d6df;
}

.accordionTitle:after {
    background-image: linear-gradient(90deg, #52616b, #c9d6df);
    width: 0%;
}

.accordionTitle:hover::after {
    width: 100%;
}

/* Accordion Item line - Active */
.accordionTitleActive:after {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 50px;
    transition: ease-in-out 0.6s all;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.accordionTitleActive:after {
    background-image: linear-gradient(90deg, #52616b, #c9d6df);
    width: 100%;
}

/* Accordion Item Icon  */
.accIcon {
    float: right;
    width: 30px;
    height: 30px;
    display: flex;
    margin-top: -3px;
    align-items: center;
    justify-content: center;
}

.accIcon:before,
.accIcon:after {
    content: '';
    position: absolute;
    border-radius: 50px;
    background-color: #c9d6df;
    transition: ease 0.3s all;
}

.accIcon:before {
    width: 2px;
    height: 20px;
}

.accIcon:after {
    width: 20px;
    height: 2px;
}

.accordionTitle:hover .accIcon:before,
.accordionTitle:hover .accIcon:after {
    background-color: #52616b;
}

.accIcon.anime.accIcon:before {
    transform: rotate(90deg);
}

/* Text Content */
.accordion .item .text {
    opacity: 0;
    height: 0;
    padding: 0px 20px;
    position: relative;
    line-height: 24px;
    font-size: 16px;
    font-weight: 200;
    transition: all 0.6s cubic-bezier(.42, .2, .08, 1);
    overflow: hidden;
    background-color: #f0f5f9;
    letter-spacing: 0.5px;
}

/* Text Content - Class for JS to hide and show */
.accordion .item .text.show {
    opacity: 1;
    height: auto;
    padding: 25px 20px;
    position: relative;
    z-index: 0;
    border-radius: 0px 0px 3px 3px;
}

.link-remove {
    text-decoration: none;
    color: white;
}

